d3m>=2019.4.4
etk>=2.1.5
elasticsearch==6.3.1
Flask>=1.0.2
jsonlines>=1.2.0
psycopg2-binary>=2.7.5
psycopg2>=2.7.5
python-dateutil>=2.7.3
rltk==2.0.0a13
tablextract>=1.2.5
termcolor>=1.1.0
urllib3>=1.23
wikipedia-api==0.4.4
wget>=3.2
nbconvert >= 5.4.0