d3m==2019.4.4
spacy==2.0.17
etk==2.1.5
defusedxml==0.5.0
elasticsearch==6.3.1
entrypoints==0.2.3
Flask==1.0.2
idna==2.7
jedi==0.13.1
jsonlines==1.2.0
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prometheus-client==0.4.0
prompt-toolkit==2.0.5
psycopg2==2.7.5
psycopg2-binary==2.7.5
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.3.0
python-dateutil==2.7.3
qtconsole==4.4.1
rltk @ git+https://github.com/ckxz105/rltk.git@patch-plyvel
Send2Trash==1.5.0
tablextract==1.1.10
termcolor==1.1.0
testpath==0.4.2
urllib3==1.23
webencodings==0.5.1
wikipedia-api==0.4.4
wget==3.2
xlrd==1.1.0
